// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.home_info {
  height: auto;
}

.logo {
  height:40px;
  padding-top: 5px;
  padding-right: 15px;
}

.home_recent_activity {
  font-size: large;
}

.article_item {
  padding: 10px;
}

.article_bg {
    background-color: $table-zebra-color;
}

.portrait-info-container {
  display: inline-block;
  margin-bottom: 35px;
}

.portrait-container {
  float: left;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}

.portrait {
  margin: auto;
  border-radius: 50%;
  background-size: 0%;
  height: 200px;
  width: 200px;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 500px) {
  .portrait-container {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .portrait-info-container {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
}

.thumbnail-mini {
  width:40px;
  height:40px;
  padding-right: 15px;
}

.align-vertically {
  vertical-align: middle;
}

.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.site-header {
  background-color: $header-color;
}

.post-meta-container {
  overflow: hidden;
}

.post-link {
  margin-top: -3px;
  font-size: large;
}

.code-description {
  margin-left: 25px;
  margin-top: 2px;
}



// Hamburger menu
// from: https://stackoverflow.com/questions/59820346/how-would-i-turn-the-navbar-into-a-hamburger-menu-when-on-mobile

.header {
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $header-color;
}

.header li a {
  display: block;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:visited {
    color: #424242;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 0px 25px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
