---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="portrait-info-container">
    <div class="portrait-container">
        <div class="portrait">
           <img src="/assets/simon_reduced.png" />
        </div>
    </div>
    <div class="home_info">
        {{ content }}
    </div>
  </div>


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {% assign activity = posts %}
  {%- if site.data.publications.size > 0 -%}
    {% assign activity = activity | concat: site.data.publications %}
  {%- endif -%}
  {%- if site.data.code.size > 0 -%}
    {% assign activity = activity | concat: site.data.code %}
  {%- endif -%}
</div>
