---
layout: default
---

<header class="post-header">
<h1 class="post-title">{{ page.title | escape }}</h1>
</header>

{%- if site.data.publications.size > 0 -%}
    {% for article in site.data.publications %}
        {% assign odd = forloop.index | modulo: 2 %}
        <div class="article_item {% if odd == 1 %} article_bg {% endif %}">
            <div style="font-size:large">
                <b>{{ article.title }}</b> &mdash;
                <a href="{{article.url}}" target="_blank" >
                    {{ article.journal }}
                </a>
            </div>
            {{ article.date }} &emsp; {{ article.authors }}
            <br>
        </div>
    {% endfor %}
{%- else -%}
    Nothing to show yet.
{%- endif -%}
